pydantic[orjson,email]
ormar[postgresql,sqlite,orjson,crypto,mysql]
sqlalchemy
fastapi
loguru
deepmerge
httpx[http2]
makefun
deepdiff
multimethod

# CLI
typer[all]

# Redis
redis
hiredis


# Dev
build 
twine
wheel
black
darglint
pytest
pytest-cov
pytest-asyncio
bandit
mypy
pydocstyle

# Docs
mkdocs-material
mkdocstrings