pydantic[orjson,email]
pydantic-settings
pydantic-extra-types
ormar[postgresql,sqlite,orjson,crypto,mysql]
beanie
sqlalchemy
fastapi
loguru
deepmerge
httpx[http2]
makefun
deepdiff
pycountry
phonenumbers
stripe

# CLI
typer[all]

# Redis
redis
hiredis


# Dev
build 
twine
wheel
black
darglint
pytest
pytest-cov
pytest-asyncio
bandit
mypy
pydocstyle

# Docs
mkdocs-material
mkdocstrings